.product{
    width: 100%;
    height: 80px;
    padding: 100px 40px;
    border: 1px solid #aaa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}
.buttons{
    padding: 10px;
}
.remove{
    color: red;
    border: 1px solid red;
}
